.tile {
    border-radius: .5em;
    background: gray;
    padding: 10px;
}
.tile h1{
    font-size: 14px;
    text-transform: uppercase;
    font-weight:bold;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}
.tile i{
    font-size: 12px;
    text-align: justify;
}